body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}

h1 {
    color: #007bff;
    font-size: 24px;
    text-align: center; /* Center-align the title */
}

#question-container {
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: left; /* Align the questions to the left */
}

#question-container.show {
    opacity: 1;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left; /* Align the options to the left */
}

li {
    margin: 10px 0;
    font-size: 18px;
}

label {
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004a9e;
}

#question-text {
    font-weight: bold; /* Display questions in bold */
}

li.incorrect-answer {
    color: red;
}

#feedback {
    font-weight: bold;
    margin-bottom: 10px;
    color: #4caf50;
}

#feedback.incorrect {
    color: #f44336;
}

#score {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
